<div class="Home__background" ng-class="{'Home__background--reduced': vm.$state.is('app.home.station')}">
    <div class="container">
        <div class="row Home__title">
            <div class="title__languages col-md-3 col-md-push-9">
                <i class="material-icons">language</i>
                <a ui-sref="{locale: 'de'}">Deutsch</a> | <a ui-sref="{locale: 'en'}">English</a>
            </div>
            <div class="col-md-9 col-md-pull-3" ui-sref="app.home" ui-sref-opts="{reload: true}">
                <h1 ui-sref="app.home" ui-sref-opts="{reload: true}">
                    Smog Alarm
                    <span class="Home__title__small" translate>a service from</span>
                    <div class="Home__title__nfn">Netzwerk Fahrradfreundliches Neukölln</div>
                </h1>
            </div>
        </div>
        <div class="Home__address">
            <form name="vm.searchForm" id="searchForm" ng-submit="vm.search()" novalidate>
                <div class="row" ng-hide="vm.$state.is('app.home.station')">
                    <div class="col-md-12">
                        <label for="address" translate>Find the closest station measuring air quality in Germany</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 address-bar">
                        <input type="text" class="form-control input-lg" id="address" ng-model="vm.address" placeholder="{{'Address, City'|translate}}">
                        <div class="actions">
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.search()" form="loginForm" translate>Find</button>
                            <button type="reset" class="btn btn-primary btn-lg" ng-click="vm.searchWhereIam()" ng-if="vm.geolocationAvailable"><i class="material-icons">my_location</i></button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row Home__suggestion" ng-if="vm.suggestion">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" translate>This is the closest station</div>
        </div>
    </div>
    <div ui-view></div>
    <div class="row">
        <div class="col-md-push-7 col-md-5" ng-if="vm.$state.is('app.home')">
            <div class="well lead" translate>
                We are collecting the daily reports from the German Environmental Protection Agency who is measuring the air quality at different points in the country. This tool helps you to find your closest station and give you the possibility to follow it by receiving email alerts or by subscribing to its RSS feed.
            </div>
        </div>
        <div class="col-md-7 col-md-pull-5" ng-if="vm.$state.is('app.home') && !vm.suggestion && vm.alerts">
            <div ng-if="vm.alerts.length > 0">
                <h2 translate>Say hello to our new bot</h2>
                <p translate>
                    Our service is now available on Facebook Messenger too.
                    You can ask for air quality at a location and subscribe to station alerts directly from Messenger. Start the chat by saying hi !
                </p>
                <div
                    class="fb-messengermessageus"
                    messenger_app_id="1578755335758259"
                    page_id="491963731010980"
                    color="white"
                    size="xlarge" >
                </div>
                <h2>
                    <div translate>Last alerts in Germany</div>
                    <div translate class="small">Click on a station to know more</div>
                </h2>
                <last-alert data-alerts="vm.alerts"></last-alert>
            </div>
            <div ng-if="vm.alerts.length === 0">
                <h2>{{'There is no recent alert in Berlin'|translate}} <i class="material-icons md-36">sentiment_very_satisfied</i></h2>
                <p translate>During summer, the air quality in Berlin is quite good. But winter is coming. Find the closest station to be prepared for next winter.</p>
                <a ui-sref="app.home({showOlderAlerts: true})" translate>See older alerts</a>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <footer>
        <div class="row">
            <div class="credits col-md-10 col-md-push-2">
                {{'Made by'|translate}} <a href="https://twitter.com/vied12" target="_blank">Edouard</a>,
                {{'from a brillant idea of'|translate}} <a href="https://twitter.com/jmi" target="_blank">Jan</a>,
                {{'an illustration from'|translate}} <a href="https://www.flickr.com/photos/davdenic/20265152826/" target="_blank">David Denicolò</a>
                {{'with the helpful Carmen\'s design advices'|translate}}
                <span translate>and the <a href="https://www.umweltbundesamt.de/en/data/current-concentrations-of-air-pollutants-in-germany" target="_blank">UBA's data</a>.</span>
                <span translate>Translated into German by Saskia, Konstantin and Yvonne.</span>
                <span translate>Give us feedback on <a href="https://github.com/vied12/nsfw/issues" target="_blank">github</a> or <a href="mailto:nsfw@fahrradfreundliches-neukoelln.de">send us a mail</a>.</span>
            </div>
            <div class="col-md-2 col-md-pull-10">
                <a href="http://fahrradfreundliches-neukoelln.de" target="_blank"><img src="/static/images/NFN_Logo_RGB.png"/></a>
            </div>
        </div>
    </footer>
</div>
