<div class="Station">
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{'Station'|translate}}:
                <span ng-bind-html="vm.station.name"></span>
                <a href="#map" uib-tooltip="See on a map"><i class="material-icons">map</i></a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 translate>Subscribe to the station alerts</h2>
            <form ng-submit="vm.subscribe()">
                <div class="form-group">
                    <label for="inputEmail1"><i class="material-icons">notifications_active</i> {{ 'Leave your email address to receive alerts' | translate }}</label>
                    <div class="row" ng-if="!vm.subscribed">
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="inputEmail1" ng-model="vm.email" placeholder="{{'Email'|translate}}">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" translate>Subscribe</button>
                        </div>
                    </div>
                    <div ng-if="vm.subscribed" translate>Subscribed!</div>
                    <div ng-if="vm.errorOnSubscription" translate>an error occured!</div>
                </div>
            </form>
            <div class="fb-send-to-messenger"
                messenger_app_id="1578755335758259"
                page_id="491963731010980"
                data-ref="{{vm.station.id}}"
                color="blue"
                size="large">
            </div>
            <div translate>
                You can also subscribe to its
                <a target="_blank" href="/alerts/rss/{{vm.station.id}}">Rss</a>,
                <a target="_blank" href="/alerts/atom/{{vm.station.id}}">Atom</a>
                feeds <i class="material-icons">rss_feed</i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-if="::vm.mp10Average || vm.no2Average">
            <h2 translate>Summary</h2>
            <div class="table-responsive">
                <table class="table Station__stats">
                    <thead>
                        <th>
                        </th>
                        <th>
                            <i class="material-icons md-36">today</i>
                            <div translate>Last value</div>
                        </th>
                        <th>
                            <i class="material-icons md-36">insert_chart</i>
                            <div translate>Average during last year</div>
                        </th>
                        <th>
                            <i class="material-icons md-36">error</i>
                            <div translate>Polluted days<br/>during last year</div>
                        </th>
                        <th>
                            <i class="material-icons md-36">flash_on</i>
                            <div translate>Longest pollution streak<br/> during last year</div>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <th><span class="label label-danger">PM<sub>10</sub></span></th>
                            <td ng-if="vm.mp10LastMeasure.value">
                                <span class="number">{{ vm.mp10LastMeasure.value }}µg/m³</span>
                                <i tooltip-append-to-body="true" uib-tooltip-html="'50μg/m3 mean is the limit for PM<sub>10</sub> pollution.'|translate" tooltip-placement="right" class="material-icons md-18">info_outline</i>
                                <div class="description">
                                    <div ng-if="::vm.dateIsYesterday(vm.mp10LastMeasure.date)" translate>
                                        Yesterday
                                    </div>
                                    <div ng-if="::!vm.dateIsYesterday(vm.mp10LastMeasure.date)">
                                        {{ vm.moment(vm.mp10LastMeasure.date).format('ll') }}
                                    </div>
                                </div>
                            </td>
                            <td ng-if="!vm.mp10LastMeasure.value">
                                <span class="number">—</span>
                            </td>
                            <td ng-if="vm.mp10Average">
                                <span class="number">{{ vm.mp10Average | number:0 }}µg/m³</span>
                                <i tooltip-append-to-body="true" uib-tooltip-html="'20μg/m3 annual mean is the limit for PM<sub>10</sub> pollution.'|translate" tooltip-placement="right" class="material-icons md-18">info_outline</i>
                            </td>
                            <td ng-if="!vm.mp10Average">
                                <span class="number">—</span>
                            </td>
                            <td ng-if="vm.mp10Sum !== undefined">
                                <div class="number">{{ vm.mp10Sum }} {{'days'|translate}}</div>
                            </td>
                            <td ng-if="vm.mp10Sum === undefined">
                                <div class="number">—</div>
                            </td>
                            <td>
                                <div ng-if="!vm.mp10LongestStreak.value">
                                    <div class="number">—</div>
                                </div>
                                <div ng-if="vm.mp10LongestStreak.value">
                                    <div class="number">{{ vm.mp10LongestStreak.value }} {{'days'|translate}}</div>
                                    <div class="description">
                                        {{ vm.moment(vm.mp10LongestStreak.date).format('ll') }} -
                                        {{ vm.moment(vm.mp10LongestStreak.toDate).format('ll') }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="label label-danger">NO<sub>2</sub></span></th>
                            <td ng-if="vm.no2LastMeasure.value">
                                <span class="number">{{ vm.no2LastMeasure.value }}µg/m³</span>
                                <i tooltip-append-to-body="true" uib-tooltip-html="'200μg/m3 1-hour mean is the limit for NO<sub>2</sub> pollution. At short-term concentrations exceeding 200μg/m3, it is a toxic gas which causes significant inflammation of the airways.'|translate" tooltip-placement="right" class="material-icons md-18">info_outline</i>
                                <div class="description">
                                    <div ng-if="::vm.dateIsYesterday(vm.no2LastMeasure.date)" translate>
                                        Yesterday
                                    </div>
                                    <div ng-if="::!vm.dateIsYesterday(vm.no2LastMeasure.date)">
                                        {{ vm.moment(vm.no2LastMeasure.date).format('ll') }}
                                    </div>
                                </div>
                            </td>
                            <td ng-if="!vm.no2LastMeasure.value">
                                <div class="number">—</div>
                            </td>
                            <td ng-if="vm.no2Average">
                                <span class="number">{{ vm.no2Average | number:0 }}µg/m³</span>
                                <i tooltip-append-to-body="true" uib-tooltip-html="'40µg/m³ annual mean is the limit for NO<sub>2</sub> pollution. Epidemiological studies have shown that symptoms of bronchitis in asthmatic children increase in association with long-term exposure to NO2. Reduced lung function growth is also linked to NO2 at concentrations currently measured (or observed) in cities of Europe and North America.'|translate" tooltip-placement="right" class="material-icons md-18">info_outline</i>
                            </td>
                            <td ng-if="!vm.no2Average">
                                <div class="number">—</div>
                            </td>
                            <td ng-if="vm.no2Sum !== undefined">
                                <div class="number">{{ vm.no2Sum }} {{'days'|translate}}</div>
                            </td>
                            <td ng-if="vm.no2Sum === undefined">
                                <div class="number">—</div>
                            </td>
                            <td>
                                <div ng-if="!vm.no2LongestStreak.value">
                                    <div class="number">—</div>
                                </div>
                                <div ng-if="vm.no2LongestStreak.value">
                                    <div class="number">{{ vm.no2LongestStreak.value }} {{'days'|translate}}</div>
                                    <div class="description">
                                        {{ vm.moment(vm.no2LongestStreak.date).format('ll') }} -
                                        {{ vm.moment(vm.no2LongestStreak.toDate).format('ll') }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="help-block" translate>
                PM<sub>10</sub> is an important indicator of urban air pollution, and the health risks associated with the complex mixtures of pollutants typically found in cities. The smaller PM<sub>10</sub> particles are able to penetrate deep into the lungs, and also to cross into the blood, causing damage in many organ systems.
            </div>
        </div>
    </div>
    <div class="row" ng-if="::!vm.station.pm10_data || !vm.mp10Average">
        <div class="col-md-12">
            <h2 translate>Last alerts on this station</h2>
            <div ng-if="vm.alerts.length < 1" translate>No alert found</div>
            <last-alert data-alerts="::vm.alerts" data-hide-station="true"></last-alert>
        </div>
    </div>
    <div class="row" ng-if="::vm.isDatavisPossible">
        <div class="col-md-12">
            <h2 translate>PM<sub>10</sub> particles pollution in time</h2>
        </div>
        <div class="col-md-12" style="overflow-x: auto;">
            <nsfw-datavis data-station="::vm.station"></nsfw-datavis>
        </div>
    </div>
    <h2 id="map" translate>Where the data come from</h2>
    <leaflet defaults="vm.defaults" lf-center="vm.center" markers="vm.markers" height="320px" width="100%"></leaflet>

</div>
