{% load staticfiles %}
{% load i18n %}
{% load compress %}
<html lang="" ng-app="nsfw">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title ng-bind="'Smog Alarm'"></title>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{% trans "We are collecting the daily reports from the German Environmental Protection Agency who is measuring the air quality at different points in the country. This tool helps you to find your closest station and give you the possibility to follow it by receiving email alerts or by subscribing to its RSS feed." %}" />
        <meta property="og:image" content="http://nsfw.herokuapp.com{% static "images/background.jpg" %}" />
        <meta property="og:image:height" content="1200" />
        <meta property="og:image:width" content="1600" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}" />
        {% compress css %}
        <link type="text/less" rel="stylesheet" href="/static/styles/main.less" charset="utf-8">
        <link type="text/less" rel="stylesheet" href="/static/bower_components/leaflet/dist/leaflet.css" charset="utf-8">
        {% endcompress %}
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,700,700italic,300,300italic,100,100italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% csrf_token %}
        <div ui-view></div>
        {% compress js %}
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/modernizr/modernizr.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/jquery/dist/jquery.min.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/lodash/lodash.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/angular/angular.min.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/angular-simple-logger/dist/angular-simple-logger.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/leaflet/dist/leaflet.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/ui-leaflet/dist/ui-leaflet.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/angular-sanitize/angular-sanitize.min.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/angular-animate/angular-animate.min.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/angular-resource/angular-resource.min.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/angular-ui-router/release/angular-ui-router.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/bootstrap/dist/js/bootstrap.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/restangular/dist/restangular.min.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/angular-gettext/dist/angular-gettext.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/moment/min/moment-with-locales.js" />
        <script type="text/javascript" charset="utf-8" src="/static/bower_components/d3/d3.js" />
        <script type="text/javascript" charset="utf-8" src="/static/home/geocoder-service.js" />
        <script type="text/javascript" charset="utf-8" src="/static/main.js" />
        <script type="text/javascript" charset="utf-8" src="/static/translations.js" />
        <script type="text/javascript" charset="utf-8" src="/static/home/module.js" />
        <script type="text/javascript" charset="utf-8" src="/static/station/module.js" />
        <script type="text/javascript" charset="utf-8" src="/static/alerts/module.js" />
        {% endcompress %}
        {% for template_name, template_body in templates %}
        <script type="text/ng-template" id="/{{ template_name }}">{{ template_body | safe }}</script>
        {% endfor %}
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: "1578755335758259",
                    xfbml: true,
                    version: "v2.6"
                });
            };
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-80369421-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
